.LocationSection {
    width: 100%;
    height: 700px;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #211f1f;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.locationHeader {
    width: 100%;
    font-family: SecularOne;
    font-size: 25px;
    color: black;
    height: auto;
    text-transform: uppercase;
}

.locationHeaderLabel {
    width: 40%;
    background: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 20px;
    transform: translateY(-30px);
    box-shadow: 0 0 10px #211f1f;
}

.locationWrapper {
    width: 100%;
    height: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

.map {
    user-select: none;
    width: 60%;
    height: 100%;
    background-image: url("../../../assets/images/location/mapimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px 0 0 50px;

    transition: 0.4s ease-out;
}

@media screen and (max-width: 1000px){
    .map {
        width: 60%;
    }
}

@media screen and (max-width: 700px){
    .LocationSection{
        height: 1100px;
    }

    .locationWrapper {
        flex-direction: column;
        height: 80%;
    }

    .map{
        border-radius: 0 50px 50px 0;
        width: 80%;
    }
}