.LocationSection{
    width: 100%;
    height: 600px;
    background: orange;
    display: flex;
    flex-direction: column;
}

.locationHeader{
    width: 100%;
    text-align: center;
    height: auto;
    text-transform: uppercase;
    background: transparent;
}

.locationWrapper{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: black;
    display: flex;
    flex-direction: row;
}

.map{
    user-select: none;
    width: 60%;
    height: 100%;
    background-image: url("../../../assets/images/location/mapimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}