.LocationSection{
    width: 100%;
    height: 600px;
    background: orange;
    position: relative;
}

.locatioHeader{
    width: 100%;
}

.locationWrapper{
    position: absolute;
    top:10%;
    left:5%;
    width: 90%;
    height: 80%;
    background: black;
    display: flex;
    flex-direction: row;
}

.contactUs{
    width: 40%;
    height: 100%;
    background: blue;

}

.map{
    user-select: none;
    width: 60%;
    height: 100%;
    background-image: url("../../../assets/images/location/mapimage.png");
    background-repeat: no-repeat;
    background-size: cover;
}