.PageContainer{
    width: 100%;
}

.header{
    z-index: 99;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    background: black;
}

.main{
    z-index: 0;
    width: 100%;
}