.CarouselElement{
    position: relative;
    height: 30vw;
    width:  30vw;
    margin-right: 5vw;
    user-select: none;
    display: inline-block;
    --animationDuration: 0.3s;
}

.carousel_El_outer{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.background{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    transition: var(--animationDuration) ease-out;
}

.saleHeader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: var(--animationDuration) ease-out;
}

.saleHeader h2{
    width: 100%;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.hover_div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.top_left_triangle{
    position: absolute;
    top:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30vw 30vw 0 0;
    border-color: #34dc6f4f transparent transparent transparent;
    transition: var(--animationDuration) ease-out;
}

.bottom_right_triangle{
    position: absolute;
    top:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30vw 30vw;
    border-color:  transparent transparent lightblue transparent;
    transition: var(--animationDuration) ease-out;
    mix-blend-mode: difference;
}