.Header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: #211f1f;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.helloText{
    height: 100%;
    width:30%;
    padding: 5px 0;
    font-size: 30px;
    font-family: Ailerons;
    color: white;
}

.sideDrawerBtn{
    position: absolute;
    right:0;
    height: 100%;
    width:10%;
}

@media screen and (max-width: 1000px){
    .helloText{
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .helloText{
        width: 20%;
    }
}

@media screen and (max-width: 733px){
    .helloText{
        padding: 10px 0;
    }
}

@media screen and (max-width: 600px){
    .Header{
        height: 7%;
    }

    .helloText{
        width:auto;
        height: auto;
    }
}

@media screen and (max-width: 470px){
    .sideDrawerBtn{
        width: 60px;
    }
}