.InputWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.input{
    height: 30px;
    padding: 5px;
    font-size: 15px;
}

.textArea{
    height: 100px;
    padding: 5px;
    font-size: 15px;
}

.submit{
    background: #211f1f;
    text-transform: uppercase;
    color: white;
    border: transparent;
    padding: 10px;
    font-family: Ailerons;
    font-size: 30px;
    cursor: pointer;
}