.footer{
    width: 100%;
    height: auto;
    background: #211f1f;
    color:white;
    box-sizing: border-box;
    padding: 10px 5%;
    font-family: SecularOne;
}

.copyright{
    display: inline-block;
}

.sign{
    display: inline-block;
    float:right;
}

@media screen and (max-width: 600px){
    .footer{
        font-size:10px;
    }
}
@media screen and (max-width: 400px){
    .footer{
        font-size:8px;
    }
}