body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow: hidden;*/
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Anurati";
  src: url("assets/fonts/anurati.otf");
}
@font-face {
  font-family: "Andromeda";
  src: url("assets/fonts/andromeda.ttf");
}
@font-face {
  font-family: "Ailerons";
  src: url("assets/fonts/ailerons.otf");
}
@font-face {
  font-family: "SecularOne";
  src: url("assets/fonts/SecularOne.ttf");
}
