.MaterialSection {
    position: relative;
    width: 100%;
    height: auto;
    background: #211f1f;
    transition: 1s ease-out;
    display: flex;
    flex-direction: column;
}

.header{
    color: #211f1f;
    width: 100%;
    margin: 0 0 10px 0;
    transform: translateY(-10px);
    font-family: SecularOne;
}

.headerLabel{
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 50px;
    float:right;
    width: 50%;
    background: #65fd9b;
    box-shadow: 0 0 10px #211f1f;
}

.materialWrapper {
    width: 90%;
    margin: 40px auto 100px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.5s ease-out;
}

.material {
    width: 45%;
    height: 600px;
    position: relative;
    box-sizing: border-box;
    border: 5px solid white;
    transition: 0.5s ease-out;
    font-family: SecularOne;
}

.zipper {
    background-image: url("../../../assets/images/materialsSlide/zip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(70%);
}

.zipper h2 {
    position: absolute;
    top: 80%;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
}

.high_word {
    background: transparent;
    color: white;
}

.quality_words {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

.bkp {
    background-image: url("../../../assets/images/materialsSlide/bpkr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(50%);
    /*border-width: 0 0 0 5px;*/
}

.bkp h2{
  position: absolute;
  top: 0%;
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
}

.take_word {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

.anywhere_word {
    background: transparent;
    color: white;
}