.MaterialSection {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: lightcoral;
    transition: 1s ease-out;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    filter:blur(10px);
    background-image: url("../../../assets/images/materialsSlide/city.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.materialWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.material {
    width: 45%;
    height: 600px;
    position: relative;
    box-sizing: border-box;
    border: 5px solid white;
    transition: 0.5s ease-out;
}

.material:hover {
    transform: scale(1.05);
}

.zipper {
    background-image: url("../../../assets/images/materialsSlide/zip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*border-width: 0 5px 0 0;*/
}

.zipper h2 {
    position: absolute;
    top: 80%;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
}

.high_word {
    background: transparent;
    color: white;
}

.quality_words {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

.bkp {
    background-image: url("../../../assets/images/materialsSlide/bpkr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*border-width: 0 0 0 5px;*/
}

.bkp h2{
  position: absolute;
  top: 0%;
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
}

.take_word {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

.anywhere_word {
    background: transparent;
    color: white;
}